<style>
    h2{
        color:#00d6c8;
    }
</style>
@using BE
@{ if (RouteConfig.user != null)
    {
        Layout = "~/Views/Shared/_ManagementLayout.cshtml";
    <div class="m-5 p-3">
        <section id="featured-services" class="featured-services">
            <div class="container" data-aos="fade-up">
                <div class="p-5">
                    <h2>Welcome back</h2>
                    <h1>@RouteConfig.user.UserName</h1>
                    <h2>________</h2>

                    <br />

                </div>

                <div class="row">
                    @if (RouteConfig.user.UserType == UserTypeEnum.Doctor)
                    {
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="fa fa-user-md"></i></div>
                                <h4 class="title"><a href="~/Account/EditPersonalDetails">Update your details</a></h4>
                                <br />
                                <p class="description">
                                    E-mail:
                                    <br />
                                    @RouteConfig.user.Mail
                                    <br />
                                    Phone:
                                    <br />
                                    @RouteConfig.user.Phone
                                    <br />
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="icofont-drug"></i></div>
                                <h4 class="title"><a href="~/Medicines">Catalog of medicines</a></h4>
                                <p class="description">
                                    View all medications
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-file"></i></div>
                                <h4 class="title"><a href="~/Prescriptions">Your prescriptions</a></h4>
                                <p class="description">
                                    View all the prescriptions you have issued
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-plus"></i></div>
                                <h4 class="title"><a href="~/Prescriptions/ChoosePatient">New prescription</a></h4>
                                <p class="description">
                                    Add a new prescription to patient
                                </p>
                            </div>
                        </div>


                    }
                    else if (RouteConfig.user.UserType == UserTypeEnum.Patient)
                    {
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="fa fa-user-md"></i></div>
                                <h4 class="title"><a href="~/Account/EditPersonalDetails">Update your details</a></h4>
                                <br />
                                <p class="description">
                                    E-mail:
                                    <br />
                                    @RouteConfig.user.Mail
                                    <br />
                                    Phone:
                                    <br />
                                    @RouteConfig.user.Phone
                                    <br />
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-file"></i></div>
                                <h4 class="title"><a href="~/prescriptions">Your prescriptions</a></h4>
                                <p class="description">
                                    View all the prescriptions given to you
                                </p>
                            </div>
                        </div>
                    }
                    else if (RouteConfig.user.UserType == UserTypeEnum.Manager)
                    {
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-plus"></i></div>
                                <h4 class="title"><a href="~/Medicines/Create">Add medicine</a></h4>
                                <p class="description">
                                    Add a medicine to the catalog
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-paper-plane"></i></div>
                                <h4 class="title"><a href="~/Patients/Create">Invite patient</a></h4>
                                <p class="description">
                                    Invite a patient
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-stethoscope"></i></div>
                                <h4 class="title"><a href="~/Doctors/Create">Invite doctor</a></h4>
                                <p class="description">
                                    Invite a doctor 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-file"></i></div>
                                <h4 class="title"><a href="~/Prescriptions">All prescriptions</a></h4>
                                <p class="description">
                                    View all the prescriptions
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                                <h4 class="title"><a href="~/Statistics">Statistics</a></h4>
                                <p class="description">
                                    View statistics
                                </p>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </section>

    </div>
            }
            }
