@model MediKal.Models.DoctorViewModel
@using MediKal.Models
@using BE
@using (Html.BeginForm("SignUpDoctor", "Account"))
{
    @Html.HiddenFor(model=>model.Id)
    @Html.HiddenFor(model=>model.Mail)
    <div class="container">
        <div class="m-5 p-3 row">
            <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4">
            </div>
            <div class="col-sm-10 col-md-10 col-lg-4 col-xl-4">
                <form id="appointment-form" role="form" method="post" action="#">
                    <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                        <img src="~/images/doctor.png" class="img-fluid" width="100" />
                        <h2>Sign Up</h2>
                        <p>Please fill in all the details</p>
                    </div>

                    <div class="wow fadeInUp" data-wow-delay="0.8s">

                        <div class="col-md-12 col-sm-12">
                            @Html.Label("Full Name")
                            @Html.TextBoxFor(model => model.UserName, new { @class = "", placeholder = "Enter your user name" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            <br />
                            @Html.Label("Password")
                            @Html.TextBoxFor(model => model.Password, new { @class = "", type = "password", placeholder = "Enter your password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <br />
                            @Html.Label("Confirm Password")
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "", type = "password", placeholder = "Enter your password again" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            <br />
                            @Html.Label("Phone")
                            @Html.TextBoxFor(model => model.Phone, new { @class = "", placeholder = "Enter your phone" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            <br />
                            @Html.Label("Birth Date")
                            @Html.TextBoxFor(model => model.Birthday, new { @class = "", placeholder = "Enter your license number" })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            <br />
                            @Html.Label("License Number")
                            @Html.TextBoxFor(model => model.LicenseNum, new { @class = "", placeholder = "Enter your license number" })
                            @Html.ValidationMessageFor(model => model.LicenseNum, "", new { @class = "text-danger" })
                            <br />
                            <button type="submit" class="green-btn" id="cf-submit" name="submit">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
}