@model MediKal.Models.MedicineViewModel

@{
    ViewBag.Title = "AddImage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<br />
<div class="m-5 p-3 row">
    <div class="col-sm-1 col-md-1 col-lg-4 col-xl-4"></div>
    <div class="col-sm-10 col-md-10 col-lg-4 col-xl-4">
        <h4>Add Medicine</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NDCId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NDCId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GenericName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenericName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Company)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Company)
            </dd>

        </dl>
        <div class="col-md-10">
            <input type="file" name="ImagePath" />
        </div>

    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>

</div>