@model MediKal.Models.MedicineViewModel
    @using MediKal.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayRoundImage(Model.ImagePath, 150)‏
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.GenericName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenericName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServingOption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServingOption)
        </dd>

    </dl>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" name="ImagePath">
        <label class="custom-file-label" for="customFile">Choose Image</label>
        @Html.Label(Session["Error"].ToString(), new { @class = "text-danger" })
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.medicine.NDCId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
