@model IEnumerable<MediKal.Models.MedicineViewModel>
@using MediKal.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
    <div class="m-5 p-3">
        @if (RouteConfig.user.UserType == BE.UserTypeEnum.Manager)
        {
            <img src="~/images/ampoule.svg" height="100" width="100" />
            <a href="~/Medicines/create" class="social-button"><span class="fa fa-lg fa-plus"></span></a>
        }
        <h2 style="display:inline;margin-left:90px;">Medicines <span class="badge badge-pill bg-green">@Model.Count()</span></h2>
    </div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="square-flip">
            <div class='square' data-image="">
                <div class="square-container">
                    @if (item.ImagePath != null)
                    {@Html.DisplayRoundImage(item.ImagePath.Replace(@"\\", @"\"), 150)}
                    <br />
                    @Html.DisplayHeader(item.Name, 3)
                </div>
                <div class="flip-overlay"></div>
            </div>
            <div class='square2' data-image="">
                <div class="square-container2">
                    <br />
                    <b>@Html.LabelFor(modelItem => item.Name): </b>@Html.DisplayTextFor(modelItem => item.Name)
                    <hr />
                    <b>@Html.LabelFor(modelItem => item.Company): </b>@Html.DisplayTextFor(modelItem => item.Company)
                    <hr />
                    <b>@Html.LabelFor(modelItem => item.medicine.ServingOption) :</b>@Html.DisplayTextFor(modelItem => item.ServingOption)
                    <hr />
                    @if (RouteConfig.user.UserType == BE.UserTypeEnum.Manager)
                    {
                        <a class="crud-btn" href="~/Medicines/Edit?id=@(item.medicine.NDCId)"><i class="fa fa-edit"></i></a>
                    } 
                </div>
            </div>
        </div>

    }


    @if (RouteConfig.user.UserType == BE.UserTypeEnum.Manager)
    {
        <div class="square-not-flip" onclick="location.href='@Url.Action("create", "Medicines")'">
            <div class='square2' data-image="">
                <div class="square-container">
                    <img src="~/images/ampoule.svg" height="200" width="200" />
                    <a href="~/Medicines/create" class="social-button" style="height:100px;width:100px;line-height:100px;font-size:50px;margin-left:-100px;">
                        <span class="fa fa-lg fa-plus"></span>
                    </a>

                </div>
            </div>
        </div>
    }

</div>
