@model MediKal.Models.PatientViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","Patients",Model))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Patient</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="Id" value=@Model.patient.Id />

    <div class="form-group">
        @Html.LabelFor(model => model.Background, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Background, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Background, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BloodType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.BloodType, htmlAttributes: new { @class = "" })
            @Html.ValidationMessageFor(model => model.BloodType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="~/Prescriptions/ChoosePatient" class="btn green-btn">Back to List</a>
</div>
