@model MediKal.Models.PrescriptionViewModel
@using MediKal.Models
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<script>
    $('select').on('change', function() {
      alert( this.value );
    });
</script>
@using (Html.BeginForm("Create","Prescriptions"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.DoctorId)
    @Html.HiddenFor(model => model.PatientId)



    <style>
        td {
            padding: 15px;
        }
    </style>

    <button class="green-btn float-right" onclick="window.print()"><i class="fa fa-print"></i> Print</button>
    <br />
    <div>
        <h4>Prescription</h4>
        <h6>@DateTime.Now</h6>
        <hr />
        <br />
        <div id="details">
            <div id="prescriptionDetails">
                <p>
                    <b>@Html.DisplayName("Prescription date:")</b>
                    @Html.Label("PrescriptionDate", DateTime.Now.ToString())
                </p>
                <p>
                    <b>By: </b>@($"DR. {Model.prescription.GetDoctor().UserName}")
                </p>
                <p>
                    <b>@Html.DisplayName("Employee license num:")</b>
                    @Html.DisplayFor(model => model.prescription.GetDoctor().LicenseNum)
                </p>
            </div>
            <hr />
            <div>
                <table>
                    <tr>
                        <td>
                            <b>@Html.DisplayName("Full Name:")</b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().UserName)
                        </td>
                        <td>
                            <b>@Html.DisplayName("ID: ")</b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Id)
                        </td>
                        <td>
                            <b>@Html.DisplayName("Age: ")</b>
                            @Html.Label(Model.prescription.GetPatient().GetAge().ToString())
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.DisplayName("Phone: ")</b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Phone)
                        </td>
                        <td>
                            <b>@Html.DisplayName("Mail: ")</b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Mail)
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <table>
                <tr>
                    <td>
                        <b>@Html.DisplayName("Name:")</b>
                        @Html.DropDownEnumListForMedicines("MedicineId")
                    </td>
                    <td>
                        <b>@Html.DisplayName("Generic Name:")</b>
                        @Html.DisplayFor(model => model.prescription.GetMedicine().GenericName)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayName("Serving Option:")</b>
                        @Html.DisplayFor(model => model.prescription.GetMedicine().ServingOption)
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>@Html.DisplayName("Frequency: ")</b>
                        @Html.EditorFor(model => model.NumOfTimes, new { @class = "px-3" }) times in a @Html.EnumDropDownListFor(model => model.Frequency)
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <b>Start date: </b>
                        <input name="StartTime" value="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                    </td>
                    <td>
                        <br />
                        <b>End date: </b>
                        <input name="EndTime" type="date" />
                    </td>
                </tr>
            </table>
            <hr />
            <br />
            <b>@Html.DisplayNameFor(model => model.Comments)</b>
            <br />
            <textarea name="Comments" rows="5" cols="100"></textarea>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <hr />
            <br />
            <br />
            <p>Doctor's signature:___________________________________________</p>
        </div>
        <br />
        <br />
        <div class="float-right">
            <input type="submit" value="Save" class="btn blue-btn" />
            <a href="~/Medicines" class="btn green-btn">Back to List</a>
        </div>

    </div>
    <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
    <br />
    <br />
    <br />
    <br />
    <br />
}
