@model MediKal.Models.PrescriptionViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfTimes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfTimes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prescription.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
