@model MediKal.Models.PrescriptionViewModel
    @using MediKal.Models
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<button class="green-btn float-right" onclick="window.print()"><i class="fa fa-print"></i> Print</button>
<br />
<div>
    <h4>Prescription</h4>
    <h6>@DateTime.Now</h6>
    <hr />
    <br />
    <div id="details">
        <div id="prescriptionDetails">
            <p>
                <b>@Html.DisplayName("Prescription date:") : </b>
                @Html.DisplayFor(model => model.prescription.PrescriptionDate)
            </p>
            <p>
                <b>@Html.DisplayName($"DR. {Model.prescription.GetDoctor().UserName}") : </b>
            </p>
            <p>
                <b>@Html.DisplayName("Employee license num:") : </b>
                @Html.DisplayFor(model => model.prescription.GetDoctor().LicenseNum)
            </p>
        </div>
        <hr />
        <div>
            <table>
                <tr>
                    <td>
                        <p>
                            <b>@Html.DisplayName("Full Name:") : </b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().UserName)
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>@Html.DisplayName("ID ") : </b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Id)
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>@Html.DisplayName("Age ") : </b>
                            @*@Html.EditorFor(model => model.prescription.GetPatient().GetAge(), new { htmlAttributes = new { @class = "form-control" } })*@
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <b>@Html.DisplayName("Phone: ") : </b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Phone)
                        </p>
                    </td>
                    <td>
                        <p>
                            <b>@Html.DisplayName("Mail: ") : </b>
                            @Html.DisplayFor(model => model.prescription.GetPatient().Mail)
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <table>
            <tr>
                <td>
                    <b>@Html.DisplayName("Name") : </b>
                </td>
                <td>
                    <b>@Html.DisplayName("Generic Name") : </b>
                </td>
                <td>
                    <b>@Html.DisplayName("Serving Option") : </b>
                </td>
                <td>
                    <b>@Html.DisplayName("Times a Day") : </b>
                </td>
                <td>
                    <b>@Html.DisplayName("Frequency") : </b>
                </td>
                <td>
                    <b>@Html.DisplayNameFor(model => model.Comments) : </b>
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.prescription.GetMedicine().Name)</td>
                <td>@Html.DisplayFor(model => model.prescription.GetMedicine().GenericName)</td>
                <td>@Html.DisplayFor(model => model.prescription.GetMedicine().ServingOption)</td>
                <td>@Html.DisplayFor(model => model.NumOfTimes)</td>
                <td>@Html.DisplayFor(model => model.Frequency)</td>
                <td>@Html.DisplayFor(model => model.Comments)</td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <p>Doctor's signature:_______________________________</p>
    </div>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
