@model IEnumerable<MediKal.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<!-- Card widget -->
<div class="row">
    @foreach (var item in Model)
    {
        <!-- Card widget -->
        <div class="col-4 card">
            <!-- Face 2 -->
            <div class="card-face face-2">
                <!-- Back trigger -->
                <button class="card-face__back-button" data-card-back="data-card-back"><img src="http://imgh.us/arrow_1.svg" width="19" height="19" draggable="false" /></button><img class="card-face__stats" src="http://imgh.us/Likes.png" width="100" height="100" draggable="false" /><img class="card-face__stats" src="http://imgh.us/Followers.png" width="100" height="100" draggable="false" /><img class="card-face__stats" src="http://imgh.us/Views.png" width="100" height="100" draggable="false" /><!-- Settings Button --><img class="card-face__settings-button" src="http://imgh.us/cog.svg" width="17" height="17" draggable="false" />
            </div><!-- Face 1 -->
            <div class="card-face face-1">
                <!-- Menu trigger -->
                <button class="card-face__menu-button" data-card-menu="data-card-menu"><img src="http://imgh.us/dots_1.svg" width="5" height="23" draggable="false" /></button><!-- Avatar -->
                <div class="card-face__avatar">
                    <!-- Bullet notification --><span class="card-face__bullet">2</span>
                    <!-- User avatar -->
                    <img src="~/images/author-image.jpg" width="110" height="110" draggable="false" />
                    @*<img src="https://s3.amazonaws.com/uifaces/faces/twitter/csswizardry/128.jpg" width="110" height="110" draggable="false" />*@
                </div>
                <!-- Name -->
                <h2 class="card-face__name">Dr. @item.UserName</h2>
                <!-- Title -->
                <br />
                <div class="row">
                    <i class="fa fa-envelope"></i>
                    <span>@item.Mail</span>
                </div>
                <br />
                <div class="row">
                    <i class="fa fa-phone"></i>
                    <span>@item.Phone</span>
                </div>
                <br />
                <br />
                <br />
                <!-- Cart Footer -->
                <div class="card-face-footer">
                    <a class="round btn-gray card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank">
                        <img class="" src="~/images/prescription.svg" width="45" height="45" draggable="false" />
                    </a>
                    <a class="round btn-gray card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank">
                        <img class="" src="~/images/prescription.svg" width="45" height="45" draggable="false" />
                    </a>
                    <a class="round btn-gray card-face__social" href="https://dribbble.com/astorino_mattia" target="_blank">
                        <img class="" src="~/images/prescription.svg" width="45" height="45" draggable="false" />
                    </a>
                </div>
            </div>
        </div>
    }
</div>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.user.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.user.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.user.Id })
            </td>
        </tr>
    }
